body {
  margin: 0;
  padding: 0;
}

header {
  background: rgb(231, 231, 231);
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  z-index: 1000;
}

header li {
  list-style: none;
  display: inline;
  padding-right: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 19px;
}

header li:first-child {
  font-weight: 400;
}

header a {
  text-decoration: none;
  color: black;
}

#products {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
}

#products li {
  list-style-type: none;
  width: 33.3%;
  text-align: center;
  position: relative;
}

#products li figure {
  margin: auto;
}

#products li img {
  width: 90%;
}

.default {
  z-index: 2;
  position: absolute;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
}

.default:hover {
  opacity: 0;
}

.special {
  z-index: 1;
  cursor: pointer;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-top: 40px;
  padding: 2px;
  text-align: right;
}

footer ul {
  padding-right: 1em;
}

footer li {
  display: inline-block;
  padding: 10px;
}

footer li.left {
  float: left;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
}

footer img {
  width: 15px;
  position: relative;
  top: 2px;
}

#videos {
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

#videos a, #videos a:active, #videos a:hover {
  color: black;
}

#videos div {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 33.34%;
  float: left;
  overflow: hidden;
}

#videos #wide {
  width: 66.66%;
  min-width: 66.66vw;
  height: 100%;
  overflow: hidden;
}

#videos figcaption {
  position: absolute;
  text-align: center;
  top: 40vh;
  width: 100%;
  font-size: 48px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  z-index: 3;
}

#videos a:hover video {
  opacity: .7;
}

video {
  width: 100%;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  opacity: .6;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

#wide video {
  height: 90vh;
  width: unset;
  position: relative;
}

source {
  display: inline-block;
  margin: 0;
  overflow:hidden;
}

#favs h2 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
